#circle{
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
        
}
#circle strong{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}